main {
  justify-content: center;
}

.container{
  background-color: #C576F6;
  text-align: center;
}
h3 {
  font-size: 16px;
  text-align: center;
}

.background-card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.title {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.product-card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.product-info {
  display: flex;
  align-items: center;
  padding: 5px;
}

.product-name {
  font-size: 20px;
  margin: 0;
  margin-left: 12px;
}
.card-title{
text-align: center;
}
.add-to-cart-btn {
  background-color: #8a2be2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.add-to-cart-btn:hover {
  background-color: #45a049;
}

.add-to-cart-btn:focus {
  outline: none;
}

.checkout-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.checkout-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.remove-btn {
  background-color: #e53935;
  color: white;
  border: 50px;
  padding-left: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 3%;
}

.remove-btn:hover {
  background-color: #c62828;
}

.remove-btn:focus {
  outline: none;
}

.quantity {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.text-center {
  margin-top: 20px;
}

.btn-primary {
  font-size: 1.5rem;
  padding: 10px 30px;
}

.pedido-alerta {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 300px;
  text-align: center;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}
